<h2>Upload Excel File and Input Label/Column Names</h2>
<form action="" method="POST" enctype="multipart/form-data">
    <p>
        {{form.upload.label}}
        <br>
        {{form.upload(size=30)}}
    </p>
    <p>
        {{form.name.label}}
        <br>
        {{form.name(size=30)}}
    </p>
    <p>
        {{form.desc.label}}
        <br>
        {{form.desc(size=30)}}
    </p>
    <p>
        {{form.loca.label}}
        <br>
        {{form.loca(size=30)}}
    </p>
    <p>{{form.submit()}}</p>
</form>