<h2>Sanction Name Search</h2>
<table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Closest Match & Score</th>
        <th>2nd Closest Match & Score</th>
        <th>3rd Closest Match & Score</th>
        <th>4th Closest Match & Score</th>
        <th>5th Closest Match & Score</th>
      </tr>
    </thead>
    <tbody>
    {% for key, value in scores.items() %}
     <tr>
         <td> {{ key }} </td>

         <td> {{ value["scores"]}} </td>

     </tr>
    {% endfor %}
    </tbody>
  </table>
<br>
<a href="/searchName" target="_self">Search Again</a>
<a href="/" target="_self">View Sanction List</a>